* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 
}

body {
  background-image: url("./mercedes-amg-g-class-with-v12-engine-from-brabus.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
}

nav ul li:hover {
  color: blueviolet;
  cursor: pointer;
  transition: 0.2s;
}

#home {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5); /* Added to improve readability */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

#home h1 {
  font-size: 170px;
  color: white;
  width: 80%;
}

#home h6 {
  color: white;
  font-size: 20px;
  width: 60%;
  padding-top: 50px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#about h3 {
  font-size: 70px;
  color: blueviolet;
}

#about p {
  font-size: 26px;
  text-align: center;
  width: 700px;
  line-height: 30px;
}

#work .job {
  margin: 20px 0;
}

#resume .activity {
  margin: 20px 0;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

footer ul li {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

footer ul li:hover {
  color: blueviolet;
  cursor: pointer;
  transition: 0.2s;
}
